<header>
    <h1>Welcome to My Portfolio</h1>

    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="social-icons">
        <a href="#" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn"></a>
        <a href="#" target="_blank"><img src="/images/twitter.png" alt="Twitter"></a>
        <a href="#" target="_blank"><img src="/images/github.png" alt="GitHub"></a>
        <a href="#" target="_blank"><img src="/images/instagram.png" alt="Instagram"></a>
    </div>
</header>
