{{> header}} 

<div class="container">
    <h1>About Me</h1>
    <p>Hello. I'm a passionate web developer dedicated to building web applications.</p>
    
    <h2>Skills & Technologies</h2>
    <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>Node.js, Express.js</li>
        <li>SQL</li>
        <li>Git, GitHub</li>
    </ul>

    <h2>My Journey</h2>
    <p>I started coding a few years ago and have been continuously learning and improving my skills.</p>
</div>