<div class="home-container">
    <h1>Welcome to My Portfolio</h1>

<!-- social icons -->
<div class="social-icons">
    <a href="#" target="_blank">
        <img src="/images/linkedin.png" alt="LinkedIn">
    </a>
    <a href="#" target="_blank">
        <img src="/images/twitter.png" alt="Twitter">
    </a>
    <a href="#" target="_blank">
        <img src="/images/github.png" alt="GitHub">
    </a>
    <a href="#" target="_blank">
        <img src="/images/instagram.png" alt="Instagram">
    </a>
</div>

    <!-- page nav bubble around -->
    <div class="nav-bubbles">
        <a href="/" class="bubble">Home</a>
        <a href="/about" class="bubble">About</a>
        <a href="/projects" class="bubble">Projects</a>
        <a href="/contact" class="bubble">Contact</a>
    </div>
</div>
