<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header}}   {{! This includes the navigation/header }}

    {{{body}}}     {{! This injects page-specific content }}

    {{> footer}}   {{! This includes the footer }}
  </body>
</html>
