<div class="projects">
    <h1>My Projects</h1>
    <div class="project-container">
        <div class="project-card">
            <h2>Project1</h2>
            <p>description</p>
            <a href="#" class="btn">View this Project</a>
        </div>
        <div class="project-card">
            <h2>Project2</h2>
            <p>description</p>
            <a href="#" class="btn">View this Project</a>
        </div>
        <div class="project-card">
            <h2>Project3</h2>
            <p>description</p>
            <a href="#" class="btn">View this Project</a>
        </div>
    </div>
</div>
